
html { background: #222; }
.rentaka { background: #fff; border: 5px solid #bcbcbc; }

/**************/
/* TYPOGRAPHY */     
/**************/
a  { text-decoration: none; color: #900; border-bottom: 1px dotted #900; outline: none; }
h1 { font: bold 36px Helvetica, Sans-Serif; margin: 0 0 8px 0; }
h2 { margin: 0 0 10px 0; }
p { margin: 0 0 6px 0; }
.button { background: url(/images/button-bg.png) repeat-x; -moz-border-radius: 5px; padding: 6px 12px; border: none; color: white; cursor: pointer; text-shadow: 0 1px 1px #666; -webkit-border-radius: 5px; -webkit-box-shadow: 0 1px 3px #999; font: bold 16px Helvetica; }
.button:hover { background-position: bottom left; }
.red { background: red; color: white; font-size: 12px; padding: 3px; }

/*********/
/* forms */
/*********/
.action { font-size: .8em; float: right; color: #555; }
.action a { color: #555; border-bottom: 1px dotted #555; }
.action a:visited { color: #555; }

input[type="text"], input[type="password"] { padding: 5px; font-size: 1.5em; width: 250px; }
label { padding: 0; margin: 0; }
